<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Sistema de registro y validacion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Sistema de registro y validacion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <li>
					<div class="dropdown">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">MySQL</button>
						<ul class="dropdown-menu">										
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8080/listar}">Alumnos</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8090/listar}">Docentes</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8070/listar}">Carreras</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8050/listar}">Materias</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8060/listar}">Notas</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="dropdown">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">SQL Server</button>
  					 	<ul class="dropdown-menu">											
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8081/listar}">Alumnos</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8091/listar}">Docentes</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8071/listar}">Carreras</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8051/listar}">Materias</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8061/listar}">Notas</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="dropdown">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Oracle</button>
   						<ul class="dropdown-menu">					
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8082/listar}">Alumnos</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8092/listar}">Docentes</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8072/listar}">Carreras</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8052/listar}">Materias</a></li>
							<li><a class="dropdown-item" aria-current="page" th:href="@{http://localhost:8062/listar}">Notas</a></li>
						</ul>
					</div>
                </li>
                <li class="nav-item">
					<a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row col-md-10">
        <h2>Lista de usuarios registrados</h2>
    </div>
    <table class="table table-success table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "user : ${users}">
                <td th:text = "${user.firstName}"></td>
                <td th:text = "${user.lastName}"></td>
                <td th:text = "${user.email}"></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>